

body{
    font-family:Helvetica Neue, Helvetica, sans-serif;
    background:blue;
}

.main-nav{
  text-align:center;
  margin-top:9em;
}

.main-nav ul{
  display:inline-block;
  margin:0;
  padding:0;
  list-style:none;
  transform:skew(25deg);
}

.main-nav ul li{
  background:#fff;
  float:left;
  border-right:1px solid #eee;
  box-shadow:0 1px 1px rgba(0,0,0,0.1);
  text-transform:uppercase;
  color:#555;
  font-weight:bolder;
  transition:all 0.3s linear;
}
  
  .main-nav:first-child{
    border-radius:12px 2 2 12px;
  }
  
  .main-nav:last-child{
    border-right:none;
    border-radius:0 12px 12px 0;
    
  }
  
  .main-nav:hover{
    background:#eee;
    color:blue
  }
  
  a{
    display:block;
    padding:1em 2em;
    color:inherit;
    text-decoration:none;
    transform:skew(25deg);
  }


/* html{
    background-image: url("./Free-Halftone-Watercolor-Textures-Backgrounds.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(82, 77, 77);
    font-weight: bolder;
 
   


 }  */

#bio-image{
    height: 100px;
    width: 100px;
    margin: 5px;
    float: left;
}





 
/* 
nav a{
display: inline-block;
font-display: #222222;
text-decoration: none;

} */

  







#overtop{
    /* position: relative;
    top: 132px; */
    z-index: 1;
    height: 18px;
    width:150px;
    background-color: #4aaaa5;}


#overtop3{
    /* position: relative;
    left: 0px;
    top: 140;     */
    z-index: 1;
    height: 18px;
    max-width:150px;
    background-color: #4aaaa5;
    }
         
#overtop4{
    /* position: relative;
    top: 130px;
    left: 154px; */
    z-index: 1;
    height: 18px;
    width:150px;
    background-color:#4aaaa5;
}


#one{
    height:150px;
    width:150px;
}     
#content{
    margin-top: 200px;
    margin: auto;
    background-color: #ffffff;
    width: 425px;
}

.overtop{
    /* position: relative;
    left: 150px;
    top:120px; */
    z-index: 1;
    height: 18px;
    width:150px;
    background-color: #4aaaa5;
    }

#two{
    float:left;
    height:150x;
    width:150px;
    
}

#three{
    height:150px;
    width:150px;
}

#four{
    height:150px;
    width:150px;
}

#overtop5{
    /* position: relative;
    left: 0px;
    bottom: 10px; */
    z-index: 1;
    height: 18px;
    width:150px;
    background-color: #4aaaa5;
}
#five{
    height:150px;
    width:150px;
}



.in{
    display: inline-block;
    position: relative;
    z-index:1;
}

.in div{
    position: absolute;
    right: 0;
    bottom:5px;
    z-index: 1;
    /* left:0; */


}

